nav{
	background:  rgb(52, 58, 64); 
	font-color: white;
}
.navbar-header button{
	color: withe;
}
#cate{
	padding-top: 50px;
}

 #firsts_letter{
 	font-size: 177%;
	color: #3498db;
}
.back-to-top{
	margin-right: 7px;
}
ul{
	font-size: : 50%;
}

img{
	height: 50%;
	width: 50%;
}
