nav{
	background:  rgb(52, 58, 64); 
	font-color: white;
}
.navbar-header button{
	color: withe;
}

.slider{
	position: relative;
	margin-top: 50px ;
}

.slider ul li{
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none ;
	
}

.slider img{
	width: 100%;
	height: 100%;
}


.slider .controls .next{
	background: url("https://www.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png") no-repeat;
	background-size: 100px;
	float: right;
	width: 100px;
	height: 100px;
	opacity: 0.7;
	margin-top: 250px;
}

.slider .controls .previous{
	background: url("https://newcdn.iconfinder.com/data/icons/faticons/32/arrow-left-01-512.png") no-repeat;
	background-size: 100px;
	float: left;
	width: 100px;
	height: 100px;
	opacity: 0.7;
	margin-top: 250px;
}


.dot {
  position: relative;
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin-top: 650px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  background-color: #717171;
}

.textS {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

#footer{
	margin-top: 50px ;
}

